In [2]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [4]:
# Read the CSV files into DataFrames.
sales_2020 = pd.read_csv('Resources/athletic_sales_2020.csv')
sales_2021 = pd.read_csv('Resources/athletic_sales_2021.csv')

In [5]:
# Display the 2020 sales DataFrame
print("2020 Sales Data:")
print(sales_2020.head())

2020 Sales Data:
      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732       1/1/20  Northeast      New York
1  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3  Foot Locker      1185732       1/1/20  Northeast      New York
4  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

In [6]:
# Display the 2021 sales DataFrame
print("\n2021 Sales Data:")
print(sales_2021.head())

2021 Sales Data:
    retailer  retailer_id invoice_date   region       state           city  \
0  West Gear      1128299       1/1/21     West  California  San Francisco
1  West Gear      1128299       1/1/21     West  California  San Francisco
2     Kohl's      1189833       1/1/21  Midwest     Montana       Billings
3     Kohl's      1189833       1/1/21  Midwest     Montana       Billings
4  West Gear      1128299       1/1/21     West  California  San Francisco

                   product  price_per_unit  units_sold  total_sales  \
0  Men's Athletic Footwear              65         750       487500
1  Men's Athletic Footwear              51         233        11883
2            Men's Apparel              50         275       137500
3            Men's Apparel              47          77         3619
4  Men's Athletic Footwear              64         225        14400

   operating_profit sales_method
0         121875.00       Outlet
1           3208.41       Outlet
2          82500.00       Outlet
3           2714.25       Online
4           5184.00       Online

#### Check the data types of each DataFrame

In [7]:
# Check the 2020 sales data types.
print("Data Types for 2020 Sales:")
print(sales_2020.dtypes)

Data Types for 2020 Sales:
retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [8]:
# Check the 2021 sales data types.
print("\nData Types for 2021 Sales:")
print(sales_2021.dtypes)

Data Types for 2021 Sales:
retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [9]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
combined_sales = pd.concat([sales_2020, sales_2021], ignore_index=True)

In [10]:
# Check if any values are null.
print("\nNull Values in Combined Data:")
print(combined_sales.isnull().sum())

Null Values in Combined Data:
retailer            0
retailer_id         0
invoice_date        0
region              0
state               0
city                0
product             0
price_per_unit      0
units_sold          0
total_sales         0
operating_profit    0
sales_method        0
dtype: int64

In [11]:
# Check the data type of each column
print("\nData Types in Combined Data:")
print(combined_sales.dtypes)

Data Types in Combined Data:
retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [13]:
# Convert the "invoice_date" to a datetime datatype
combined_sales['invoice_date'] = pd.to_datetime(combined_sales['invoice_date'])

In [14]:
# Confirm that the "invoice_date" data type has been changed.
print("\nData Types After Converting 'invoice_date':")
print(combined_sales.dtypes)

Data Types After Converting 'invoice_date':
retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
dtype: object

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [16]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".
region_state_city_products_sold = combined_sales.groupby(['region', 'state', 'city'])['units_sold'].sum().reset_index()
region_state_city_products_sold.rename(columns={'units_sold': 'Total_Products_Sold'}, inplace=True)




# Show the top 5 results.
print("\nTop 5 Results for Products Sold by Region, State, and City:")
print(region_state_city_products_sold.head())

Top 5 Results for Products Sold by Region, State, and City:
    region     state          city  Total_Products_Sold
0  Midwest  Illinois       Chicago                25407
1  Midwest   Indiana  Indianapolis                26332
2  Midwest      Iowa    Des Moines                23446
3  Midwest    Kansas       Wichita                29463
4  Midwest  Michigan       Detroit                50095

#### Using `pivot_table`

In [17]:
# Show the number products sold for region, state, and city.
pivot_table_region_state_city = pd.pivot_table(combined_sales, values='units_sold', index=['region', 'state', 'city'], aggfunc='sum').reset_index()

# Rename the "units_sold" column to "Total_Products_Sold"
pivot_table_region_state_city.rename(columns={'units_sold': 'Total_Products_Sold'}, inplace=True)


# Show the top 5 results.
print("\nTop 5 Results for Products Sold by Region, State, and City (Using Pivot Table):")
print(pivot_table_region_state_city.head())

Top 5 Results for Products Sold by Region, State, and City (Using Pivot Table):
    region     state          city  Total_Products_Sold
0  Midwest  Illinois       Chicago                25407
1  Midwest   Indiana  Indianapolis                26332
2  Midwest      Iowa    Des Moines                23446
3  Midwest    Kansas       Wichita                29463
4  Midwest  Michigan       Detroit                50095

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [18]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"
region_state_city_total_sales = combined_sales.groupby(['region', 'state', 'city'])['total_sales'].sum().reset_index()
region_state_city_total_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)


# Show the top 5 results.
print("\nTop 5 Results for Total Sales by Region, State, and City:")
print(region_state_city_total_sales.head())

Top 5 Results for Total Sales by Region, State, and City:
    region     state          city  Total Sales
0  Midwest  Illinois       Chicago      9797488
1  Midwest   Indiana  Indianapolis      8836198
2  Midwest      Iowa    Des Moines      7424011
3  Midwest    Kansas       Wichita      9972864
4  Midwest  Michigan       Detroit     18625433

#### Using `pivot_table`

In [19]:
# Show the total sales for the products sold for each region, state, and city.
pivot_table_region_state_city_total_sales = pd.pivot_table(combined_sales, values='total_sales', index=['region', 'state', 'city'], aggfunc='sum').reset_index()

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table_region_state_city_total_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the top 5 results.
print("\nTop 5 Results for Total Sales by Region, State, and City (Using Pivot Table):")
print(pivot_table_region_state_city_total_sales.head())

Top 5 Results for Total Sales by Region, State, and City (Using Pivot Table):
    region     state          city  Total Sales
0  Midwest  Illinois       Chicago      9797488
1  Midwest   Indiana  Indianapolis      8836198
2  Midwest      Iowa    Des Moines      7424011
3  Midwest    Kansas       Wichita      9972864
4  Midwest  Michigan       Detroit     18625433

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [20]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"
retailer_region_state_city_total_sales = combined_sales.groupby(['retailer', 'region', 'state', 'city'])['total_sales'].sum().reset_index()
retailer_region_state_city_total_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the top 5 results.
print("\nTop 5 Results for Total Sales by Retailer, Region, State, and City:")
print(retailer_region_state_city_total_sales.head())

Top 5 Results for Total Sales by Retailer, Region, State, and City:
  retailer     region          state        city  Total Sales
0   Amazon    Midwest           Ohio    Columbus     16835873
1   Amazon  Northeast          Maine    Portland      8611395
2   Amazon  Northeast  Massachusetts      Boston      4193590
3   Amazon  Northeast  New Hampshire  Manchester     10077142
4   Amazon  Northeast        Vermont  Burlington     13380463

#### Using `pivot_table`

In [21]:
# Show the total sales for the products sold for each retailer, region, state, and city.
pivot_table_retailer_region_state_city_total_sales = pd.pivot_table(combined_sales, values='total_sales', index=['retailer', 'region', 'state', 'city'], aggfunc='sum').reset_index()

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table_retailer_region_state_city_total_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)


# Show the top 5 results.
print("\nTop 5 Results for Total Sales by Retailer, Region, State, and City (Using Pivot Table):")
print(pivot_table_retailer_region_state_city_total_sales.head())

Top 5 Results for Total Sales by Retailer, Region, State, and City (Using Pivot Table):
  retailer     region          state        city  Total Sales
0   Amazon    Midwest           Ohio    Columbus     16835873
1   Amazon  Northeast          Maine    Portland      8611395
2   Amazon  Northeast  Massachusetts      Boston      4193590
3   Amazon  Northeast  New Hampshire  Manchester     10077142
4   Amazon  Northeast        Vermont  Burlington     13380463

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [24]:
# Filter the sales data to get the women's athletic footwear sales data.
womens_footwear_sales = combined_sales[combined_sales['product'] == "Women's Athletic Footwear"]

#### Using `groupby`

In [25]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
womens_footwear_sales_by_location = womens_footwear_sales.groupby(['retailer', 'region', 'state', 'city'])['units_sold'].sum().reset_index()
womens_footwear_sales_by_location.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)

# Show the top 5 results.
print("\nTop 5 Results for Women's Athletic Footwear Units Sold by Retailer, Region, State, and City:")
print(womens_footwear_sales_by_location.head())

Top 5 Results for Women's Athletic Footwear Units Sold by Retailer, Region, State, and City:
  retailer     region          state        city  Womens_Footwear_Units_Sold
0   Amazon    Midwest           Ohio    Columbus                        5801
1   Amazon  Northeast          Maine    Portland                        1841
2   Amazon  Northeast  Massachusetts      Boston                        1190
3   Amazon  Northeast  New Hampshire  Manchester                        3109
4   Amazon  Northeast        Vermont  Burlington                        4327

#### Using `pivot_table`

In [27]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
pivot_table_womens_footwear_sales = pd.pivot_table(womens_footwear_sales, values='units_sold', index=['retailer', 'region', 'state', 'city'], aggfunc='sum').reset_index()


# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
pivot_table_womens_footwear_sales.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)

# Show the top 5 results.
print("\nTop 5 Results for Women's Athletic Footwear Units Sold by Retailer, Region, State, and City (Using Pivot Table):")
print(pivot_table_womens_footwear_sales.head())

Top 5 Results for Women's Athletic Footwear Units Sold by Retailer, Region, State, and City (Using Pivot Table):
  retailer     region          state        city  Womens_Footwear_Units_Sold
0   Amazon    Midwest           Ohio    Columbus                        5801
1   Amazon  Northeast          Maine    Portland                        1841
2   Amazon  Northeast  Massachusetts      Boston                        1190
3   Amazon  Northeast  New Hampshire  Manchester                        3109
4   Amazon  Northeast        Vermont  Burlington                        4327

### 5. Determine the Day with the Most Women's Athletic Footwear Sales

In [28]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
pivot_table_daily_sales = pd.pivot_table(womens_footwear_sales, values='total_sales', index='invoice_date', aggfunc='sum').reset_index()

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table_daily_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the table.
print("\nDaily Total Sales for Women's Athletic Footwear:")
print(pivot_table_daily_sales)

Daily Total Sales for Women's Athletic Footwear:
    invoice_date  Total Sales
0     2020-01-04       402743
1     2020-01-05       141801
2     2020-01-11       129556
3     2020-01-17       173013
4     2020-01-22       388250
..           ...          ...
350   2021-12-22       200406
351   2021-12-23       808022
352   2021-12-24       190885
353   2021-12-25       315175
354   2021-12-30       167903

[355 rows x 2 columns]

In [34]:
# Resample the pivot table into daily bins, and get the total sales for each day.
daily_sales_resampled = pivot_table_daily_sales.resample('D', on='invoice_date').sum()


# Sort the resampled pivot table in ascending order on "Total Sales".
daily_sales_resampled_sorted = daily_sales_resampled.sort_values(by='Total Sales', ascending=False)

most_sales_day = daily_sales_resampled_sorted.iloc[0]
print("\nDay with the Most Women's Athletic Footwear Sales:")
print(most_sales_day)

Day with the Most Women's Athletic Footwear Sales:
Total Sales    1521825
Name: 2021-07-16 00:00:00, dtype: int64

### 6.  Determine the Week with the Most Women's Athletic Footwear Sales

In [35]:
# Resample the pivot table into weekly bins, and get the total sales for each week.
weekly_sales_resampled = pivot_table_daily_sales.resample('W-MON', on='invoice_date').sum()


# Sort the resampled pivot table in ascending order on "Total Sales".
weekly_sales_resampled_sorted = weekly_sales_resampled.sort_values(by='Total Sales', ascending=False)

most_sales_week = weekly_sales_resampled_sorted.iloc[0]
print("\nWeek with the Most Women's Athletic Footwear Sales:")
print(most_sales_week)

Week with the Most Women's Athletic Footwear Sales:
Total Sales    2904141
Name: 2021-12-13 00:00:00, dtype: int64